[user]
  email = tadas@yoyo.lt
  name = Tadas Sasnauskas
[core]
  excludesfile = /Users/tsasnauskas/.gitignore
  editor = vim
[alias]
  dc = diff --cached
  d = diff
  amend = commit --amend
[push]
  default = current
