.idea/
.DS_Store
.byebug_history
Procfile.dev-web
Procfile.dev-full
.ruby-gemset

ajcore.*
target/
.lein-failures

.Rhistory

docker-compose.override.yml
docker-compose.override.yml.bak
.rakeTasks
.generators
.vscode
*.swp

.rakeTasks

*.iml

