.idea/
.DS_Store
.byebug_history

ajcore.*
target/
.lein-failures

.Rhistory

docker-compose.override.yml
docker-compose.override.yml.bak
.rakeTasks
.generators
.vscode
*.swp

.rakeTasks

*.iml

.ruby-gemset
.nvmrc


