[submodule "solarized-mate-terminal"]
	path = solarized-mate-terminal
	url = git@github.com:oz123/solarized-mate-terminal.git
[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "bash/.local/share/bash-git-prompt"]
	path = bash/.local/share/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
