[push]
  default = current
[user]
  email = {{ email }}
  name = Tadas Sasnauskas
[core]
  excludesfile = ~/.gitignore
  editor = vim
[alias]
  amend = commit --amend
  ls-untracked = ls-files --others --exclude-standard
  subs = submodule update --init
  d = diff
  dc = diff --cached
